[Desktop Entry]
Name=qnonogram
Type=Application
Comment=Nonogram or japanese puzzle based on Qt5
Exec=qnonogram
TryExec=qnonogram
Icon=qnonogram
Categories=Qt;Game;LogicGame;
